<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.ecf.remoteservices.internal.tooling.pde.templates.TimeServiceHostWizard"
            icon="icon/Remote Service.png"
            id="org.eclipse.ecf.RemoteServices.tooling.PdeTemplates.wizard1"
            java="true"
            name="%TSHWizard.name"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %TSHWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.ecf.remoteservices.internal.tooling.pde.templates.TimeServiceConsumerWizard"
            icon="icon/Remote Service.png"
            id="org.eclipse.ecf.RemoteServices.tooling.PdeTemplates.wizard2"
            java="true"
            name="%TSCWizard.name"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %TSCWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.ecf.remoteservices.internal.tooling.pde.templates.TimeServiceDSConsumerWizard"
            icon="icon/Remote Service.png"
            id="org.eclipse.ecf.RemoteServices.tooling.PdeTemplates.wizard3"
            java="true"
            name="%TSDSCWizard.name"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %TSDSCWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.ecf.remoteservices.internal.tooling.pde.templates.TimeServiceDSAsyncConsumerWizard"
            icon="icon/Remote Service.png"
            id="org.eclipse.ecf.RemoteServices.tooling.PdeTemplates.wizard4"
            java="true"
            name="%TSDSAWizard.name"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %TSDSAWizard.description
         </description>
      </wizard>
   </extension>

</plugin>
